<!-- condicional para entrar primero a login y luego de la validacion a la pagina de inicio mirar appComponens para referencia -->
@if (sesionUsuario) {
<app-navbar></app-navbar>
<div class="row w-100">
    <div class="col-12 d-none d-lg-block col-lg-2 contenedorIzq">
        <app-menu-izquierda></app-menu-izquierda>
    </div>
    <div class="col-12 col-lg-7">
        <router-outlet></router-outlet>
    </div>
    <div class="col-12 d-none d-lg-block col-lg-3">
        <app-menu-derecha></app-menu-derecha>
    </div>
</div>
}@else {
    <router-outlet></router-outlet>

}
