<!-- condicional para entrar primero a login y luego de la validacion a la pagina de inicio mirar appComponens para referencia -->
@if (sesionUsuario) {
<app-navbar></app-navbar>
<div class="row">
    <div class="col-3">
        <app-menu-izquierda></app-menu-izquierda>
    </div>
    <div class="col-6">
        <!-- <app-inicio></app-inicio> -->
        <router-outlet></router-outlet>
    </div>
    <div class="col-3">
        <app-menu-derecha></app-menu-derecha>
    </div>
</div>
}@else {
    <app-login></app-login>
}
