<div class="row">
    <div>--icono--</div>
    <div>sharehub</div>
    <div>el poder de la conexion</div>
</div>
<div class="row">
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <label for="inputPassword5" class="form-label">Correo electronico</label>
<input type="password" id="inputPassword5" class="form-control" aria-describedby="passwordHelpBlock">
<div id="passwordHelpBlock" class="form-text">

</div>
<label for="inputPassword5" class="form-label">Contraseña</label>
<input type="password" id="inputPassword5" class="form-control" aria-describedby="passwordHelpBlock">
<div id="passwordHelpBlock" class="form-text">

<label for="inputPassword5" class="form-label">Nombre de usuario</label>
<input type="password" id="inputPassword5" class="form-control" aria-describedby="passwordHelpBlock">
<div id="passwordHelpBlock" class="form-text">

</div>
<button class="rounded-2 btn btn-warning"> registrame</button>

      </div>
</div>

