<section class="grupos-page-bg pt-5">
    <div class="d-flex justify-content-center flex-column mb-4">
        <div class="text-center TextoShareHubFont">
            <img src="" alt="" class="rounded-circle img-grupo mb-4">
            <h3 class="text-color mb-2 fw-bold">Nombre del Grupo</h3>
            <h5 class="text-color fs-6">Descripcion del grupo</h5>
        </div>
    </div>
    <div class="d-flex justify-content-center mb-4">
        <div class="text-center TextoShareHubFont">
            <button class="btn rounded-pill fw-semibold py-0 px-2 color-btn me-4">Publicar</button>
            <button class="btn rounded-pill fw-semibold py-0 px-2 color-btn me-2"><i
                    class="fa-solid fa-user-plus"></i></button>
            <button class="btn rounded-pill fw-semibold py-0 px-2 color-btn me-4"><i
                    class="fa-solid fa-user-minus"></i></button>
            <button class="btn rounded-pill fw-semibold py-0 px-2 color-btn">Editar Grupo</button>
        </div>
    </div>
    <div class="d-flex justify-content-center flex-column text-center">
        <div class="d-flex justify-content-center mb-1">
            <div class="linea"></div>
        </div>
        <div class="d-flex justify-content-around mb-2 TextoShareHubFont">
            <div class="text-color">Publicaciones</div>
            <div class="text-color">Fotos</div>
            <div class="text-color">Miembros</div>
        </div>
    </div>
    <div>

    </div>
</section>
